@use '/src/assets/sass/index.scss' as *;

.dropdown {
  &_input_wrapper {
    @extend *, .custom_input_1;
    padding: 13px 14px;
    display: flex;
    justify-content: space-between;
    outline: none;
  }
  &_text {
    @extend *, .body-text;
    font-size: 16px;
    color: $primary-color-400;
  }
  &_icon {
    transition: 0.3s ease-in-out;
    &_open {
      transform: rotate(90deg);
    }
  }
  &_wrapper {
    @extend *, .custom_input_1;
    min-height: 47px;
    max-height: 151px;
    margin-top: 5px;
    position: absolute;
    z-index: 1200;
    overflow: hidden;
    padding: 5px;
    padding-left: 0;
  }
  &__wrapper {
    min-height: 47px;
    max-height: 141px;
    overflow-y: scroll;
    /* width */
    &::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: linear-gradient(
        180deg,
        #e4e4e4 0%,
        #f0f0f0 49.48%,
        #e4e4e4 100%
      );
      // border: 2px solid #ffffff;
      box-sizing: content-box;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: linear-gradient(
        180deg,
        #183e4b 0%,
        #2e6071 49.48%,
        #183e4b 100%
      );
      border-radius: 100px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  &_option {
    height: 47px;
    background-color: transparent;
    box-sizing: border-box;
    padding-inline: 13px;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    &_active,
    &:hover {
      background-color: $primary-color-100;
    }
    &_text {
      @extend .dropdown_text;
    }
  }
}
