@use '/src/assets/sass/index.scss' as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(4px);
  z-index: 999;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.7);

  &__modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;

    &__button {
      background: none;
      border: none;
      padding: 0.4rem;
      border-radius: 5px;
      transform: translateX(0.8rem);
      transition: all 0.2s;
      position: absolute;
      top: 0.5rem;
      right: 1.3rem;
      cursor: pointer;

      // &:hover {
      //   &.light {
      //     background-color: $color-grey-8;
      //   }

      //   &.dark {
      //     background-color: $color-grey-1;
      //   }
      // }
    }

    &__svg {
      width: 1.7rem;
      height: 1.7rem;
      color: #000000;
    }
  }
}
