.layout {
  display: grid;
  grid-template-columns: 201px 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  
  &.isCollapsed{
    grid-template-columns: 90px 1fr;
  }

  &__main {
    background-color: #fff;
    // padding: 4rem 4.8rem 6.4rem;
    overflow-y: scroll;
    overflow-x: hidden;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);

    &__container {
      max-width: 120rem;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }
  }
}
