@use '/src/assets/sass/index.scss' as *;

.gallery_container {
  padding: 4rem 4.8rem 6.4rem;

  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.flex_container_center {
  display: flex;
  justify-content: center;
}

.profile {
  &_card {
    box-shadow: 0px 4px 15px 0px #00000040;
    background: #fdfdfd;
    padding: 22px;
    width: 29.8rem;
    border-radius: 20px;
    margin-bottom: 55px;
  }
  &_info_wrapper {
    margin-top: -12px;
  }
  &_image {
    height: 117px;
    width: 117px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-inline: auto;
    margin-top: 14px;
  }
}

.settings {
  &_wrapper {
    display: flex;
    justify-content: flex-end;
  }
  &_icon {
    width: 31px;
    height: auto;
    cursor: pointer;
  }
}

.gallery_view {
  &_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 16px;
    margin-left: -12px;
  }
  &_option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    &_icon {
      height: 30px;
      width: 30px;
      object-fit: contain;
      object-position: center center;
    }
  }
  &_indicator {
    &_wrapper {
      display: flex;
      padding-inline: 20px;
      width: 100%;
      height: 4px;
      margin-top: -20px;
    }
    &_grey {
      width: 100%;
      height: 100%;
      border-radius: 2px;
      position: relative;
      @extend *, .gradient_scroll_bar_inside;
    }
    &_blue {
      width: 136px;
      height: 100%;
      border-radius: 2px;
      position: absolute;
      transition: 0.3s ease-in-out;
      @extend *, .gradient_button;

      &.start {
        left: 0;
      }
      &.middle {
        left: 50%;
        transform: translateX(-50%);
      }
      &.end {
        left: 100%;
        transform: translateX(-100%);
      }
    }
  }
  &_art {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 66px;

    .section {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;

      &_header {
        display: flex;
        justify-content: space-between;
      }

      &_title {
        &_wrapper {
          display: flex;
          align-items: center;
          gap: 17px;
          flex-wrap: nowrap;
        }
        &_img {
          height: 50px;
          width: 50px;
          object-fit: contain;
          object-position: center;
        }
      }

      &_content {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
      }

      &_search {
        &_wrapper {
          width: 439px;
        }
      }
    }
  }
}
