@use '/src/assets/sass/index.scss' as *;

.artwork_card {
  &_wrapper {
    padding: 7px;
    position: relative;
    box-shadow: 0px 4px 15px 0px #00000033;
    box-sizing: border-box;
    border-radius: 20px;
    height: 245.78px;
    width: 245.78px;
    background-color: $neutral-color-000;
    overflow: hidden;
    &:hover {
      .artwork_card_content_wrapper {
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.8) 0%,
          rgba(255, 255, 255, 0.8) 100%
        );
      }
      .artwork_card_content_title {
        opacity: 0;
        position: absolute;
      }
      .artwork_card_content_description {
        opacity: 1;
        position: relative;
      }
    }
  }
  &_bg {
    border-radius: 13px;
    position: relative;
    width: 100%;
    height: 100%;
  }
  &_settings {
    &_wrapper {
      width: 59.5px;
      height: 56px;
      background: url('../../../assets/images/Polygon_1.svg');
      background-position: top right;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: -5px;
      right: -5px;
    }
    &_icon {
      position: absolute;
      top: 7px;
      right: 7px;
      width: 22px;
      height: auto;
      cursor: pointer;
    }
  }
  &_content {
    &_wrapper {
      width: 100%;
      min-height: 106px;
      position: absolute;
      bottom: 0;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 100%
      );
      padding: 22px 17px;
      display: flex;
      flex-direction: column;
      // align-items: flex-end;
      justify-content: flex-end;
      transition: 0.3s ease-in-out;
    }
    &_title {
      @extend *, .h6;
      transition: 0.1s ease-in-out;
      pointer-events: none;
    }
    &_description {
      @extend *, .h6;
      font-weight: 400;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      width: 100%;
      /* this code clamps based on specified lines */
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      display: -webkit-box;
    }
  }
}
