@use '/src/assets/sass/index.scss' as *;

.profile {
  width: 100%;
  height: 514px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px #00000033;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0;

  &.parent {
    height: 406px;
  }

  &__background {
    height: 172px;
    background-image: url('../../assets/images/RectangleBG.png');
    background-size: cover;
    position: relative;
    box-shadow: 0px 4px 15px 0px #00000033;

    &__image {
      position: absolute;
      top: 75px;
      left: 55px;

      @media only screen and (max-width: 1350px) {
        top: 75px;
        left: 25px;
      }
    }

    &__avatarEdit {
      position: absolute;
      top: 85px;
      left: 195px;
      cursor: pointer;

      @media only screen and (max-width: 1350px) {
        top: 85px;
        left: 165px;
      }
    }

    &__bgEdit {
      position: absolute;
      right: 0;
      top: 5px;
      cursor: pointer;
    }
  }

  &__main {
    background-color: $neutral-color-000;
    height: 342px;

    &.parent {
      height: 234px;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
    }

    &__container {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &__containerInner {
      width: 433px;
      margin: 0 auto;
      margin-top: 30px;
      @include flex(flex-start, center, 40px);

      @media only screen and (max-width: 1350px) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
      }

      &.parent {
        width: 100%;
        // margin-top: 30px;
        // margin: 0 auto;
        padding-right: 30px;
        padding-left: 30px;

        @include flex(space-between, center, 40px);

        @media only screen and (max-width: 1350px) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 20px;
        }
      }
    }

    &__box {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 4px;

      &__name {
        font-family: MuseoSans;
        font-weight: 600;
        font-size: 18px;
        line-height: 25.02px;
        color: $neutral-color-600;
      }

      &__input {
        width: 151px;
        height: 39px;
        border: 1px solid $neutral-color-400;
        border-radius: 3px;
        outline: none;

        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 19.36px;
        color: $neutral-color-900;
        padding-left: 40px;
        background-color: $neutral-color-100;
      }

      &__inputLg {
        width: 232px;
        height: 39px;
        border: 1px solid $neutral-color-400;
        border-radius: 3px;
        outline: none;

        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 19.36px;
        color: $neutral-color-900;
        padding-left: 40px;
        background-color: $neutral-color-100;
      }

      &__inputEmail {
        width: 312px;
        height: 39px;
        border: 1px solid $neutral-color-400;
        border-radius: 3px;
        outline: none;

        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 19.36px;
        color: $neutral-color-900;
        padding-left: 40px;
        background-color: $neutral-color-100;

        &.parent {
          width: 262px;

          @media only screen and (min-width: 1350px) {
            width: 302px;
          }
        }
      }

      &__inputPassword {
        width: 312px;
        height: 39px;
        border: 1px solid $neutral-color-400;
        border-radius: 3px;
        outline: none;

        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 19.36px;
        color: $neutral-color-900;
        padding-left: 40px;
        background-color: $neutral-color-100;

        &.parent {
          width: 262px;

          @media only screen and (min-width: 1350px) {
            width: 302px;
          }
        }
      }

      &__icon {
        width: 21px;
        height: 21px;
        position: absolute;
        top: 38px;
        left: 9px;
      }

      &__iconEye {
        color: #4b4b4b;
        width: 21px;
        height: 21px;
        position: absolute;
        top: 38px;
        right: 9px;
        cursor: pointer;
      }
    }

    &__buttonContainer {
      display: flex;
      margin-right: 30px;
      margin-top: 50px;
      align-self: flex-end;
      // justify-self: flex-end;
      gap: 25px;

      &__cancelButton {
        position: relative;
        width: 146px;
        height: 52px;
        border-radius: 30px;
        outline: none;
        font-family: MuseoSans;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: $primary-color-400;
        cursor: pointer;
        border: none;
        background: linear-gradient(180deg, #5aaecb 0%, #183e4b 100%);
        z-index: 1;
      }

      &__cancelButton::before {
        content: '';
        position: absolute;
        top: 2.5px;
        right: 2.5px;
        bottom: 2.5px;
        left: 2.5px;
        background-color: $neutral-color-000;
        border-radius: 29px;
        z-index: -1;
      }

      &__cancelButton::after {
        content: attr(data-custom);
        font-family: MuseoSans;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: $primary-color-400;
      }

      &__saveButton {
        width: 191px;
        height: 52px;
        border-radius: 30px;
        outline: none;
        font-family: MuseoSans;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: $neutral-color-000;
        cursor: pointer;
        background: radial-gradient(
          50% 50% at 50% 50%,
          #245464 0%,
          #183e4b 100%
        );
        border: none;
      }
    }
  }
}
