@use '/src/assets/sass/index.scss' as *;

.gallery_card{
  &_wrapper{
    padding: 27px;
    position: relative;
    box-shadow: 0px 4px 15px 0px #00000033;
    box-sizing: border-box;
    border-radius: 20px;
    height: 245.78px;
    width: 245.78px;
    background-color: $neutral-color-000;
    display: flex;
    flex-direction: column;
  }
  &_image{
    width: 83px;
    height: 67px;
    border-radius: 9px;
    object-fit: cover;
    object-position: center;
    
    &_wrapper{
      display: flex;
      justify-content: space-between;
      row-gap: 19px;
      flex-wrap: wrap;
      align-self: flex-start;
    }
  }
  &_title_wrapper{
    position: absolute;
    left: 50%;
    bottom: 27px;
    transform: translateX(-50%);
    // width: 100%;
  }
  &_settings{
    &_wrapper{
      position: absolute;
      right: 12px;
      top: 10px;
      background-color: $neutral-color-000;
      border-radius: 50%;
      height: 38px;
      width: 38px;
      z-index: 2;
      cursor: pointer;
    }
    &_icon{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 22px;
      height: 24px;
      object-fit: contain;
      object-position: center center;
    }
  }
}