@use '/src/assets/sass/index.scss' as *;

.boards {
  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
  &_nav {
    &_container {
      width: fit-content;
    }
    &_card {
      box-shadow: 0px 4px 15px 0px #00000040;
      background: #fdfdfd;
      padding: 20px 18px;
      padding-right: 39px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      gap: 42px;
      width: fit-content;
      border-radius: 20px;
    }
    &_wrapper {
      display: flex;
      justify-content: center;
      gap: 2px;
      padding-inline: 21px;
    }
    &_item {
      cursor: pointer;
      padding: 10px 20px;
      background-color: transparent;
      border-radius: 10px;
      box-shadow: 0px -4px 10px 0px #00000000;
      transition: 0.3s ease-in-out;
      &_total,
      &_title {
        @extend *, .h4, .text-center;
      }
      &_title {
        font-weight: 400;
      }
      &_active {
        background-color: $neutral-color-000;
        box-shadow:
          inset 0px 4px 10px 0px #d9d9d9,
          inset 0px -4px 10px 0px #ffffff;
        // background: linear-gradient(145deg, $neutral-color-200, #ffffff);
        // box-shadow:
        //   0px 4px 5px #d9d9d9,
        //   -0px -4px 5px #ffffff;
        .boards_nav_item_total,
        .boards_nav_item_title {
          @extend *, .color_primary_400;
        }
      }
    }
    &_indicator {
      &_wrapper {
        display: flex;
        width: 100%;
        height: 8px;
        margin-top: 15px;
      }
      &_grey {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        position: relative;
        @extend *, .gradient_scroll_bar_inside;
      }
      &_blue {
        width: 136px;
        height: 100%;
        border-radius: 4px;
        position: absolute;
        transition: 0.3s ease-in-out;
        @extend *, .gradient_button;
      }
    }
  }
  &_button {
    cursor: pointer;
    height: 45px;
    width: 45px;
    object-fit: contain;
    object-position: center center;
    &_disabled {
      @extend *, .no-mouse-action;
      opacity: 0.4;
    }
  }
  &_artworks {
    &_wrapper {
      width: 100%;
      display: flex;
      gap: 58px;
    }

    &_col {
      display: flex;
      flex-direction: column;
      gap: 58px;
    }
  }
}
