$primary-color-000: #3c9dbe;
$primary-color-100: #e1f2f7;
$primary-color-200: #abefff;
$primary-color-300: #4b7988;
$primary-color-400: #183e4b;
$secondary-color-000: #fff79f;
$secondary-color-100: #fffde5;
$secondary-color-200: #fff9b3;
$secondary-color-300: #fff480;
$secondary-color-400: #fff04d;
$secondary-color-500: #e6d200;
$secondary-color-600: #f2ea91;
$secondary-color-700: #fffac7;
$accent-color-000: #d53f3f;
$accent-color-100: #fdb3b3;
$accent-color-200: #c96d6d;
$accent-color-300: #971812;
$neutral-color-000: #ffffff;
$neutral-color-100: #fafafa;
$neutral-color-200: #f5f5f5;
$neutral-color-300: #efefef;
$neutral-color-400: #b7b7b7;
$neutral-color-500: #333333;
$neutral-color-600: #000000;
$neutral-color-700: #edf1f2;
$neutral-color-800: #afafaf;
$neutral-color-900: #4b4b4b;

.h1 {
  //styleName: Desktop/Heading 1;
  font-family: MuseoSans, 'sans-serif';
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  &_gradient {
    &_primary {
      @extend .h1, .no-mouse-action;
      background: linear-gradient(
        180deg,
        $primary-color-400 35%,
        #11323d 93.57%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.h2 {
  //styleName: Desktop/Heading 2;
  font-family: MuseoSans, 'sans-serif';
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
}

.h3 {
  //styleName: Desktop/Heading 3;
  font-family: MuseoSans, 'sans-serif';
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
}

.h4 {
  //styleName: Desktop/Heading 4;
  font-family: MuseoSans, 'sans-serif';
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}

.h5 {
  //styleName: Desktop/Heading 5 - Form Title;
  font-family: MuseoSans, 'sans-serif';
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
}

.h6 {
  //styleName: Desktop/Heading 6 - Form Title;
  font-family: MuseoSans, 'sans-serif';
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
}

.body-text {
  //styleName: Desktop/Body;
  font-family: Inter, 'sans-serif';
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0em;
}

.sidebar-text {
  //styleName: Desktop/SidebarText;
  font-family: Inter, 'sans-serif';
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: center;
}

.text {
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

.color {
  &_primary {
    color: $primary-color-000;
    &_100 {
      color: $primary-color-100;
    }
    &_200 {
      color: $primary-color-200;
    }
    &_300 {
      color: $primary-color-300;
    }
    &_400 {
      color: $primary-color-400;
    }
  }

  &_secondary {
    color: $secondary-color-000;
    &_100 {
      color: $secondary-color-100;
    }
    &_200 {
      color: $secondary-color-200;
    }
    &_300 {
      color: $secondary-color-300;
    }
    &_400 {
      color: $secondary-color-400;
    }
    &_500 {
      color: $secondary-color-500;
    }
  }

  &_accent {
    color: $accent-color-000;
    &_100 {
      color: $accent-color-100;
    }
    &_200 {
      color: $accent-color-200;
    }
    &_300 {
      color: $accent-color-300;
    }
  }

  &_neutral {
    color: $neutral-color-000;
    &_100 {
      color: $neutral-color-100;
    }
    &_200 {
      color: $neutral-color-200;
    }
    &_300 {
      color: $neutral-color-300;
    }
    &_400 {
      color: $neutral-color-400;
    }
    &_500 {
      color: $neutral-color-500;
    }
    &_600 {
      color: $neutral-color-600;
    }
  }
}

.gradient {
  &_light_blue_side {
    background: linear-gradient(
        180deg,
        $neutral-color-000 55.63%,
        #ececec 128.15%
      ),
      linear-gradient(
        270deg,
        rgba(207, 242, 250, 0.5) -22.35%,
        rgba(207, 242, 250, 0) 88.25%
      );
  }
  &_line {
    background: #f3f3f3;
  }
  &_gray {
    background: linear-gradient(180deg, #eaeaea 0%, $neutral-color-000 100%);
  }
  &_scroll_bar_inside {
    background: linear-gradient(
      180deg,
      #c4c4c4 0%,
      #d9d9d9 49.48%,
      #c3c3c3 100%
    );
  }
  &_yellow {
    background: linear-gradient(180deg, #f2ea91 0%, #fffac7 100%);
  }
  &_light {
    background: linear-gradient(180deg, #abefff 0%, #edf1f2 100%);
  }
  &_button {
    background: linear-gradient(180deg, #5aaecb 0%, $primary-color-400 100%);

    &_inactive {
      background: radial-gradient(50% 50% at 50% 50%, #575757 0%, #3c3c3c 100%);
    }
  }
}

.button {
  padding: 7px 24px;
  border-radius: 30px;
  outline: none !important;
  cursor: pointer;
  &_default {
    border: 2.5px solid;
    border-image-source: linear-gradient(
      180deg,
      #5aaecb 0%,
      $primary-color-400 100%
    );
    color: $primary-color-400;
  }
  &_radial_gradient {
    background: radial-gradient(
      50% 50% at 50% 50%,
      #245464 0%,
      $primary-color-400 100%
    );
    color: $neutral-color-000;
  }
  &_plain {
    background: $neutral-color-000;
    color: $primary-color-400;
  }
  &_shadowed {
    box-shadow: 0px 4px 15px 0px #00000033;
  }
  &_rounded {
    border-radius: 50%;
    &_rect {
      border-radius: 10px;
      border-width: 2px;
    }
  }
}

.border {
  &_color {
    &_primary {
      border-color: $primary-color-000;
      &_100 {
        border-color: $primary-color-100;
      }
      &_200 {
        border-color: $primary-color-200;
      }
      &_300 {
        border-color: $primary-color-300;
      }
      &_400 {
        border-color: $primary-color-400;
      }
    }

    &_secondary {
      border-color: $secondary-color-000;
      &_100 {
        border-color: $secondary-color-100;
      }
      &_200 {
        border-color: $secondary-color-200;
      }
      &_300 {
        border-color: $secondary-color-300;
      }
      &_400 {
        border-color: $secondary-color-400;
      }
      &_500 {
        border-color: $secondary-color-500;
      }
    }

    &_accent {
      border-color: $accent-color-000;
      &_100 {
        border-color: $accent-color-100;
      }
      &_200 {
        border-color: $accent-color-200;
      }
      &_300 {
        border-color: $accent-color-300;
      }
    }

    &_neutral {
      border-color: $neutral-color-000;
      &_100 {
        border-color: $neutral-color-100;
      }
      &_200 {
        border-color: $neutral-color-200;
      }
      &_300 {
        border-color: $neutral-color-300;
      }
      &_400 {
        border-color: $neutral-color-400;
      }
      &_500 {
        border-color: $neutral-color-500;
      }
      &_600 {
        border-color: $neutral-color-600;
      }
    }
  }
}

.full-width {
  width: 100%;
}

.no-mouse-action {
  pointer-events: none;
}

.custom_input_1 {
  background-color: $neutral-color-100;
  border-radius: 8px;
  border: solid 1px $primary-color-400;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .h1 {
    //styleName: Mobile/Heading 1;
    font-family: MuseoSans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
  }

  .h2 {
    //styleName: Mobile/Heading 2;
    font-family: MuseoSans;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
  }

  .h3 {
    //styleName: Mobile/Heading 3;
    font-family: MuseoSans;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
  }

  .h4 {
    //styleName: Mobile/Heading 4;
    font-family: MuseoSans;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
  }

  .h5 {
    //styleName: Mobile/Heading 5 - Form Title;
    font-family: MuseoSans;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
  }

  .body-text {
    //styleName: Mobile/Body Text;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
  }
}
