@use '/src/assets/sass/index.scss' as *;

.button{
  &_wrapper{
    @extend *, .gradient_button;
    box-sizing: border-box;
    border-radius: 20px;
    height: 245.78px;
    width: 245.78px;
    padding: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 15px 0px #00000033;
    &:hover{
      .button_icon{
        transform: translateY(60%) scale(1.2);
      }
      .button_bg{
        @extend *, .gradient_light;
      }
    }
  }
  &_bg{
    padding: 35px 21px;
    display: flex;
    flex-direction: column;
    background-color: $neutral-color-000;
    border-radius: 12px;
    height: 100%;
    background: linear-gradient(180deg, #fff 0%, #fff 100%);
    transition: .3s ease-in-out;
    justify-content: space-between;
    align-items: center;
  }
  &_icon{
    width: 57px;
    height: 57px;
    object-fit: contain;
    object-position: center;
    transform: translateY(60%);
    transition: .3s ease-in;
  }
}
