@use '/src/assets/sass/index.scss' as *;

.following {
  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
  }
  &_count {
    &_card {
      box-shadow: 0px 4px 15px 0px #00000040;
      background: #fdfdfd;
      padding: 20px;
      box-sizing: border-box;
      width: 312px;
      border-radius: 20px;
    }
    &_text {
      &_wrapper {
        display: flex;
        justify-content: center;
        gap: 44px;
      }
      cursor: pointer;
    }
  }
  &_indicator {
    &_wrapper {
      display: flex;
      width: 100%;
      height: 4px;
      margin-top: 15px;
    }
    &_grey {
      width: 100%;
      height: 100%;
      border-radius: 2px;
      position: relative;
      @extend *, .gradient_scroll_bar_inside;
    }
    &_blue {
      width: 136px;
      height: 100%;
      border-radius: 2px;
      position: absolute;
      transition: 0.3s ease-in-out;
      @extend *, .gradient_button;

      &.start {
        left: 0;
      }
      &.middle {
        left: 50%;
        transform: translateX(-50%);
      }
      &.end {
        left: 100%;
        transform: translateX(-100%);
      }
    }
  }
  &_users {
    &_card{
      box-shadow: 0px 4px 15px 0px #00000040;
      background: #fdfdfd;
      padding: 20px;
      box-sizing: border-box;
      width: 47rem;
      border-radius: 20px;
    }
  }
}
