@use '/src/assets/sass/index.scss' as *;

.passcode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 17px;
  position: absolute;

  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  z-index: 3;

  &__heading {
    font-family: Inter;
    font-weight: 700;
    font-size: 35px;
    line-height: 42.36px;
    color: #183e4b;
    text-align: center;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &__input {
      width: 56.74px;
      height: 56.74px;
      background-color: #ffffff;
      font-family: Inter;
      font-weight: 700;
      font-size: 35px;
      line-height: 42.36px;
      color: #183e4b;
      padding-left: 16px;
      outline: none;

      border: double 3px transparent;
      border-radius: 5px;
      background-image: linear-gradient(white, white),
        linear-gradient(180deg, #abefff 0%, #183e4b 100%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
    }
  }

  &__forgotText {
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.78px;
    color: #183e4b;
    text-decoration: underline;
    text-align: center;
    margin-top: 35px;
    cursor: pointer;
  }
}
