@use '/src/assets/sass/index.scss' as *;

.search {
  &_wrapper {
    width: 100%;
    height: 47px;
    gap: 0px;
    border-radius: 8px;
    border: 1px solid $primary-color-400;
    background-color: $neutral-color-100;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_input {
    border: none;
    outline: none;
    padding: 0;
    width: calc(100% - 28px);
    color: $primary-color-400;
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    background-color: transparent;
  }

  &_icon {
    width: 16px;
    height: 17px;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
  }
}