@import './custom/reset';

@import './custom/variables';

@import './custom/mixins';

// fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@font-face {
  font-family: 'MuseoSans';
  src: url(../fonts/Museo/MuseoSans_100.otf);
  font-weight: 100;
}
@font-face {
  font-family: 'MuseoSans';
  src: url(../fonts/Museo/MuseoSans-300.otf);
  font-weight: 300;
}
@font-face {
  font-family: 'MuseoSans';
  src: url(../fonts/Museo/MuseoSans_500.otf);
  font-weight: 500;
}
@font-face {
  font-family: 'MuseoSans';
  src: url(../fonts/Museo/MuseoSans_700.otf);
  font-weight: 700;
}
